.Nav {
    width: 100%;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    };

    &__item {
        flex-grow: 1;
        border: 1px solid black;
        border-left: none;
        border-top: none;
        background-color: white;

        &:first-child {
            border-left: 1px solid black;
        };
    };

    &__link {
        width: 100%;
        padding: 25px; 
        display: block;
        text-align: center;
        font-size: 3em;
        font-weight: bolder;

        &:hover {
            background-color: #3757c8;
            color: white !important;
        }
    };
};



@media (max-width: 768px) {
    .Nav {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        };
    };
};