.Product-item {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px;

    &__background {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    };

    &__container {
        transition: all 0.5s;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        border: 1px solid black;
        background-color: white;

        &:hover {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        };
    
    };

    &__figure {
        position: relative;
    };

    &__article {
        padding: 46px 25px 0 25px;
    };

    &__title {
        padding: 4px 8px 4px 8px;
        margin-left: 25px;
        font-size: 3em;
        position: absolute;
        bottom: -21px;
    };

    &__info {
        font-size: 2em
    };

    &__price {
        padding: 10px;
        font-size: 4em;
        font-weight: normal;
        text-align: right;
    };
};